body{
    font-family: 'Roboto Condensed', sans-serif;

}
#home{
    background: #355C7D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 500px;
width: 100%;


}

a.nav-hover:hover, a.nav-hover:active{
    
    border-bottom:2px solid white ;   
}
#fst-sec{
    width: 100%;
    height: 550px;
    background: #355C7D;
    background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
    

}
#sed-sec{
    width: 100%;
    height: auto;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
}
#sed-sec{
    z-index: 1;
}
.sec-container{
    background: white;
}
.frm-1{
    width: 400px;
    margin-top: 10px;
    padding-left: 5px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.0);
    border: 1px solid;
    color: white;
}
::placeholder {
    color: #355C7D;
    opacity: 1; /* Firefox */
  }
.quot-frm{
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    margin-bottom: 20px;
    
}
.frm-div{
    background: #C06C84

}
.sec-container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.we-oft{
    float: left;
    text-align: justify;
}
.we-oft h5{
    font-weight: bold;
}
.split{
    height: auto;
    position: relative;
    background: rgb(192,108,132);
    background: linear-gradient(315deg, rgba(192,108,132,1) 28%, rgba(108,91,123,0.9416141456582633) 51%, rgba(53,92,125,1) 88%);
}
.split{
    z-index: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.v-m{
    float: left;
    padding-left: 25%;
    
}
.bg-1{
    background-position: center;
    background-size: cover;
}
.bg-1{
    position: relative;
}
.bg-back-abt{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.60);
    padding: 0;
    margin: 0;
    position:relative;
    align-items: center;
    justify-content: center;
    display: inline-flex;

}
.slider-warpper{
    font-size: 30px;
    color: white;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;

}
.slider{
    height: 50px;
    padding-left: 15px;
    overflow: hidden;
   
}
.slider-text1{
    background: yellowgreen;
    animation: slide 5s linear infinite;
}
.slider-text2
{
    background: red;
}
.slider-text3
{
    background: yellow;
}
.slider div {
    color: white;
    height: 50px;
    margin-bottom: 50px;
    padding: 2px 15px;
    text-align: center;
    box-sizing: border-box;

}
@keyframes slide {
    0%{margin-top: -300px;}
    5%{margin-top: -200px;}
    33%{margin-top: -200px;}
    38%{margin-top: -100px;}
    66%{margin-top: -100px;}
    71%{margin-top: 0px;}
    100%{margin-top: 0px;}
}
#products{
    background: rgb(192,108,132);
    background: linear-gradient(55deg, rgba(192,108,132,1) 28%, rgba(108,91,123,1) 51%, rgba(53,92,125,1) 88%);
}